/* VARIABLES */
:root {
  --poloroid-size: 352px;
  --poloroid-size-mobile: 280px;
  --button-height: 40px;
  --button-width: 200px;
  --background-scale-min: 1;
  --background-scale-max: 50;
  --shutterdefaultTransform: translateX(-50px) translateY(-3000px) rotate(-45deg);
  --shutterAnimationDuration: 4s;
}

/* ANIMATIONS */
@-webkit-keyframes fillScreen {
  0% { -webkit-transform: scale(var(--background-scale-min)); transform: scale(var(--background-scale-min)); }
  40% { -webkit-transform: scale(var(--background-scale-max)); transform: scale(var(--background-scale-max)); }
  60% { -webkit-transform: scale(var(--background-scale-max)); transform: scale(var(--background-scale-max)); }
  100% { -webkit-transform: scale(var(--background-scale-min)); transform: scale(var(--background-scale-min)); }
}

@keyframes fillScreen {
  0% { -webkit-transform: scale(var(--background-scale-min)); transform: scale(var(--background-scale-min)); }
  40% { -webkit-transform: scale(var(--background-scale-max)); transform: scale(var(--background-scale-max)); }
  60% { -webkit-transform: scale(var(--background-scale-max)); transform: scale(var(--background-scale-max)); }
  100% { -webkit-transform: scale(var(--background-scale-min)); transform: scale(var(--background-scale-min)); }
}

@-webkit-keyframes fadeOutIn {
  0% { opacity: 1; }
  30% { opacity: 0; }
  70% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOutIn {
  0% { opacity: 1; }
  30% { opacity: 0; }
  70% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes activateShutterOne {
  0% {
    -webkit-transform: rotate(0deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(0deg) translateX(-50px) translateY(-3000px) rotate(-45deg); opacity: 1;
  }

  30% {
    -webkit-transform: rotate(0deg) translateX(-50px) translateY(-500px);
            transform: rotate(0deg) translateX(-50px) translateY(-500px); 
  }

  70% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(0deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(0deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
    opacity: 0;
  }
}

@keyframes activateShutterOne {
  0% {
    -webkit-transform: rotate(0deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(0deg) translateX(-50px) translateY(-3000px) rotate(-45deg); opacity: 1;
  }

  30% {
    -webkit-transform: rotate(0deg) translateX(-50px) translateY(-500px);
            transform: rotate(0deg) translateX(-50px) translateY(-500px); 
  }

  70% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(0deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(0deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
    opacity: 0;
  }
}

@-webkit-keyframes activateShutterTwo {
  0% {
    -webkit-transform: rotate(-315deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-315deg) translateX(-50px) translateY(-3000px) rotate(-45deg); opacity: 1;
  }

  30% {
    -webkit-transform: rotate(-315deg) translateX(-50px) translateY(-500px);
            transform: rotate(-315deg) translateX(-50px) translateY(-500px);
  }

  70% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(-315deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-315deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
    opacity: 0;
  }
}

@keyframes activateShutterTwo {
  0% {
    -webkit-transform: rotate(-315deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-315deg) translateX(-50px) translateY(-3000px) rotate(-45deg); opacity: 1;
  }

  30% {
    -webkit-transform: rotate(-315deg) translateX(-50px) translateY(-500px);
            transform: rotate(-315deg) translateX(-50px) translateY(-500px);
  }

  70% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(-315deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-315deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
    opacity: 0;
  }
}

@-webkit-keyframes activateShutterThree {
  0% {
    -webkit-transform: rotate(-270deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-270deg) translateX(-50px) translateY(-3000px) rotate(-45deg); opacity: 1;
  }

  30% {
    -webkit-transform: rotate(-270deg) translateX(-50px) translateY(-500px);
            transform: rotate(-270deg) translateX(-50px) translateY(-500px);
  }

  70% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(-270deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-270deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
    opacity: 0;
  }
}

@keyframes activateShutterThree {
  0% {
    -webkit-transform: rotate(-270deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-270deg) translateX(-50px) translateY(-3000px) rotate(-45deg); opacity: 1;
  }

  30% {
    -webkit-transform: rotate(-270deg) translateX(-50px) translateY(-500px);
            transform: rotate(-270deg) translateX(-50px) translateY(-500px);
  }

  70% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(-270deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-270deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
    opacity: 0;
  }
}

@-webkit-keyframes activateShutterFour {
  0% {
    -webkit-transform: rotate(-225deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-225deg) translateX(-50px) translateY(-3000px) rotate(-45deg); opacity: 1;
  }

  30% {
    -webkit-transform: rotate(-225deg) translateX(-50px) translateY(-500px);
            transform: rotate(-225deg) translateX(-50px) translateY(-500px);
  }

  70% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(-225deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-225deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
    opacity: 0;
  }
}

@keyframes activateShutterFour {
  0% {
    -webkit-transform: rotate(-225deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-225deg) translateX(-50px) translateY(-3000px) rotate(-45deg); opacity: 1;
  }

  30% {
    -webkit-transform: rotate(-225deg) translateX(-50px) translateY(-500px);
            transform: rotate(-225deg) translateX(-50px) translateY(-500px);
  }

  70% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(-225deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-225deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
    opacity: 0;
  }
}

@-webkit-keyframes activateShutterFive {
  0% {
    -webkit-transform: rotate(-180deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-180deg) translateX(-50px) translateY(-3000px) rotate(-45deg); opacity: 1;
    
  }

  30% {
    -webkit-transform: rotate(-180deg) translateX(-50px) translateY(-500px);
            transform: rotate(-180deg) translateX(-50px) translateY(-500px);
  }

  70% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(-180deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-180deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
    opacity: 0;
  }
}

@keyframes activateShutterFive {
  0% {
    -webkit-transform: rotate(-180deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-180deg) translateX(-50px) translateY(-3000px) rotate(-45deg); opacity: 1;
    
  }

  30% {
    -webkit-transform: rotate(-180deg) translateX(-50px) translateY(-500px);
            transform: rotate(-180deg) translateX(-50px) translateY(-500px);
  }

  70% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(-180deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-180deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
    opacity: 0;
  }
}

@-webkit-keyframes activateShutterSix {
  0% {
    -webkit-transform: rotate(-135deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-135deg) translateX(-50px) translateY(-3000px) rotate(-45deg); opacity: 1;
  }

  30% {
    -webkit-transform: rotate(-135deg) translateX(-50px) translateY(-500px);
            transform: rotate(-135deg) translateX(-50px) translateY(-500px);
  }

  70% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(-135deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-135deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
    opacity: 0;
  }
}

@keyframes activateShutterSix {
  0% {
    -webkit-transform: rotate(-135deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-135deg) translateX(-50px) translateY(-3000px) rotate(-45deg); opacity: 1;
  }

  30% {
    -webkit-transform: rotate(-135deg) translateX(-50px) translateY(-500px);
            transform: rotate(-135deg) translateX(-50px) translateY(-500px);
  }

  70% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(-135deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-135deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
    opacity: 0;
  }
}

@-webkit-keyframes activateShutterSeven {
  0% {
    -webkit-transform: rotate(-90deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-90deg) translateX(-50px) translateY(-3000px) rotate(-45deg); opacity: 1;   
  }

  30% {
    -webkit-transform: rotate(-90deg) translateX(-50px) translateY(-500px);
            transform: rotate(-90deg) translateX(-50px) translateY(-500px);
  }

  70% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(-90deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-90deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
    opacity: 0;

  }
}

@keyframes activateShutterSeven {
  0% {
    -webkit-transform: rotate(-90deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-90deg) translateX(-50px) translateY(-3000px) rotate(-45deg); opacity: 1;   
  }

  30% {
    -webkit-transform: rotate(-90deg) translateX(-50px) translateY(-500px);
            transform: rotate(-90deg) translateX(-50px) translateY(-500px);
  }

  70% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(-90deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-90deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
    opacity: 0;

  }
}

@-webkit-keyframes activateShutterEight {
  0% {
    -webkit-transform: rotate(-45deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-45deg) translateX(-50px) translateY(-3000px) rotate(-45deg); 
    opacity: 1;
  }

  30% {
    -webkit-transform: rotate(-45deg) translateX(-50px) translateY(-500px);
            transform: rotate(-45deg) translateX(-50px) translateY(-500px);
  }

  70% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(-45deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-45deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
    opacity: 0;
    
  }
}

@keyframes activateShutterEight {
  0% {
    -webkit-transform: rotate(-45deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-45deg) translateX(-50px) translateY(-3000px) rotate(-45deg); 
    opacity: 1;
  }

  30% {
    -webkit-transform: rotate(-45deg) translateX(-50px) translateY(-500px);
            transform: rotate(-45deg) translateX(-50px) translateY(-500px);
  }

  70% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(-45deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
            transform: rotate(-45deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
    opacity: 0;
    
  }
}

/* STYLES */
body {
  background: teal;
  font-family: 'Permanent Marker', cursive;
  overflow-x: hidden;
  height: 100%;

}

.app {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (max-width: 400px) {
  body {
    font-size: 80%;
  }   
}

.header {
  margin-top: -30px;
  text-align: center;
}

.header__title {
  letter-spacing: 11.3px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 5px;
  font-size: 28px;
}

.header__text {
  margin: 0 0 20px;
  letter-spacing: 2px;
}

.photo-pile {
  position: relative;
  /*5:6 aspect ratio*/
  width: 382px;
  height: 460px;
}

@media screen and (max-width: 400px) {
  .photo-pile {
    width: 300px;
    height: 361px;
  }
}

.poloroid {
  width: 100%;
  background-color: #FFFFF0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1px;
  position: absolute;
  border: 1px solid #9a9b9c;
  -webkit-box-shadow: 0 2px 5px #333;
          box-shadow: 0 2px 5px #333;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 20px;
  left: 0;
  z-index: 5;
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.poloroid__picture {
  margin: 0 0 15px;
  top: 0;
  left: 0;
  height: var(--poloroid-size);
  background-color: #000;
  max-width: var(--poloroid-size);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 400px) {
  .poloroid__picture {
    height: var(--poloroid-size-mobile);
    max-width: var(--poloroid-size-mobile);
  }
}

.poloroid__picture-img {
  height: 100%;
  border: 1px solid #9a9b9c;
}

.button {
  position: relative;
  height: var(--button-height);
  width: var(--button-width);
}

.button__input {
  position: relative;
  height: var(--button-height);
  width: var(--button-width);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Permanent Marker', cursive;
  font-size: 16px;
  border-radius: 5px;
  border: 0;
  outline: none;
  background-color: #f0c932;
  margin-bottom: 50px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.button__input:hover {
  -webkit-box-shadow: 0 5px #d0a211;
          box-shadow: 0 5px #d0a211;
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.button__input:active {
  -webkit-transform: translateY(-2.5px);
      -ms-transform: translateY(-2.5px);
          transform: translateY(-2.5px);
  -webkit-box-shadow: 0 2.5px #d0a211;
          box-shadow: 0 2.5px #d0a211;
}

.button__shutter {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -500px;
  margin-left: -1500px;
  width: 3000px;
  height: 1000px;
  z-index: 10;
}

.button__shutter--1 {
  -webkit-transform: rotate(0deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
      -ms-transform: rotate(0deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
          transform: rotate(0deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
  opacity: 0;
}
.button__shutter--2 {
  -webkit-transform: rotate(-315deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
      -ms-transform: rotate(-315deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
          transform: rotate(-315deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
  opacity: 0;
}
.button__shutter--3 {
  -webkit-transform: rotate(-270deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
      -ms-transform: rotate(-270deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
          transform: rotate(-270deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
  opacity: 0;
}
.button__shutter--4 {
  -webkit-transform: rotate(-225deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
      -ms-transform: rotate(-225deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
          transform: rotate(-225deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
  opacity: 0;
  z-index: 11;
}
.button__shutter--5 {
  -webkit-transform: rotate(-180deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
      -ms-transform: rotate(-180deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
          transform: rotate(-180deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
  opacity: 0;
}
.button__shutter--6 {
  -webkit-transform: rotate(-135deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
      -ms-transform: rotate(-135deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
          transform: rotate(-135deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
  opacity: 0;
}
.button__shutter--7 {
  -webkit-transform: rotate(-90deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
      -ms-transform: rotate(-90deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
          transform: rotate(-90deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
  opacity: 0;
}
.button__shutter--8 {
  -webkit-transform: rotate(-45deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
      -ms-transform: rotate(-45deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
          transform: rotate(-45deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
  opacity: 0;
}

.button__shutter-animate--1 {
  -webkit-animation: activateShutterOne;
          animation: activateShutterOne;
  -webkit-animation-duration: var(--shutterAnimationDuration);
          animation-duration: var(--shutterAnimationDuration);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.button__shutter-animate--2 {
  -webkit-animation: activateShutterTwo;
          animation: activateShutterTwo;
  -webkit-animation-duration: var(--shutterAnimationDuration);
          animation-duration: var(--shutterAnimationDuration);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.button__shutter-animate--3 {
  -webkit-animation: activateShutterThree;
          animation: activateShutterThree;
  -webkit-animation-duration: var(--shutterAnimationDuration);
          animation-duration: var(--shutterAnimationDuration);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.button__shutter-animate--4 {
  -webkit-animation: activateShutterFour;
          animation: activateShutterFour;
  -webkit-animation-duration: var(--shutterAnimationDuration);
          animation-duration: var(--shutterAnimationDuration);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.button__shutter-animate--5 {
  -webkit-animation: activateShutterFive;
          animation: activateShutterFive;
  -webkit-animation-duration: var(--shutterAnimationDuration);
          animation-duration: var(--shutterAnimationDuration);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.button__shutter-animate--6 {
  -webkit-animation: activateShutterSix;
          animation: activateShutterSix;
  -webkit-animation-duration: var(--shutterAnimationDuration);
          animation-duration: var(--shutterAnimationDuration);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.button__shutter-animate--7 {
  -webkit-animation: activateShutterSeven;
          animation: activateShutterSeven;
  -webkit-animation-duration: var(--shutterAnimationDuration);
          animation-duration: var(--shutterAnimationDuration);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.button__shutter-animate--8 {
  -webkit-animation: activateShutterEight;
          animation: activateShutterEight;
  -webkit-animation-duration: var(--shutterAnimationDuration);
          animation-duration: var(--shutterAnimationDuration);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.button__shutter:nth-child(even) {
  background: #222;
}

.button__shutter:nth-child(odd) {
  background: #000;
}

.button__animate {
  -webkit-animation-name: fillScreen;
          animation-name: fillScreen;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.button__hide {
  -webkit-animation-name: fadeOutIn;
          animation-name: fadeOutIn;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}